USE [master]
GO
/****** Object:  Database [basoglu]    Script Date: 2.10.2026 18:46:53 ******/
CREATE DATABASE [basoglu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'basoglu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\basoglu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'basoglu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\basoglu_log.ldf' , SIZE = 3840KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [basoglu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [basoglu]
GO
/****** Object:  Table [dbo].[Cari]    Script Date: 2.10.2026 18:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cari](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Isim] [nvarchar](100) NOT NULL,
	[Alinan_bakiye] [decimal](10, 2) NULL,
	[Verilen_bakiye] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Cari] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cihaz_Tamir]    Script Date: 2.10.2026 18:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cihaz_Tamir](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Cihaz_id] [int] NOT NULL,
	[Yapilan_is_id] [int] NOT NULL,
	[Servis_firma_id] [int] NOT NULL,
	[Alim_tarihi] [datetime] NOT NULL,
	[Teslim_tarihi] [datetime] NULL,
 CONSTRAINT [PK_Cihaz_tamir] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Firmalar]    Script Date: 2.10.2026 18:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firmalar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Firma_ismi] [nvarchar](100) NOT NULL,
	[Firma_tel] [nvarchar](20) NULL,
	[Firma_adres] [nvarchar](max) NULL,
	[Firma_eposta] [nvarchar](100) NULL,
	[Firma_eklenme_tarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_Firmalar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Garanti]    Script Date: 2.10.2026 18:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Garanti](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Urun_ismi] [nvarchar](100) NOT NULL,
	[Seri_no] [nvarchar](50) NULL,
	[Firma_ismi] [nvarchar](100) NULL,
	[Alici_marka] [nvarchar](100) NULL,
	[Kargo_ismi] [nvarchar](100) NULL,
	[Kargo_no] [nvarchar](50) NULL,
	[Gonderilme_tarihi] [datetime] NULL,
	[Alis_Tarihi] [datetime] NULL,
	[Ucret] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Garanti] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 2.10.2026 18:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Kullanici_adi] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Olusturulma_tarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KullaniciLog]    Script Date: 2.10.2026 18:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullaniciLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](100) NOT NULL,
	[IslemTarihi] [datetime] NOT NULL,
	[IslemTipi] [nvarchar](50) NOT NULL,
	[TabloAdi] [nvarchar](50) NOT NULL,
	[Detay] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__Kullanic__3214EC2749A22AE4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servis_Firma]    Script Date: 2.10.2026 18:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servis_Firma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Firma_ismi] [nvarchar](100) NOT NULL,
	[Firma_tel] [nvarchar](20) NULL,
	[Firma_adres] [nvarchar](max) NULL,
	[Firma_eposta] [nvarchar](100) NULL,
	[Firma_eklenme_tarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_Servis_Firma] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Toner]    Script Date: 2.10.2026 18:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Firma_adi] [nvarchar](100) NOT NULL,
	[Toner_Model] [nvarchar](50) NOT NULL,
	[Adet] [int] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_Toner] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 2.10.2026 18:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Urun_ismi] [nvarchar](100) NOT NULL,
	[Model_numarasi] [nvarchar](50) NULL,
	[Miktar] [int] NULL,
	[seri_no] [nvarchar](50) NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2.10.2026 18:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Kullanici_adi] [nvarchar](100) NULL,
	[Sifre] [nvarchar](50) NULL,
	[Kullanıcı_kayıt_tarihi] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yapilan_Isler]    Script Date: 2.10.2026 18:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yapilan_Isler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Firma_ismi] [nvarchar](100) NOT NULL,
	[Servis_turu] [bit] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Sonuc] [bit] NOT NULL,
	[Olusturulma_Tarihi] [datetime] NOT NULL,
	[Degistirilme_Tarihi] [datetime] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_Yapilan_isler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YICihaz]    Script Date: 2.10.2026 18:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YICihaz](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Cihaz_ismi] [nvarchar](100) NOT NULL,
	[Cihaz_model] [nvarchar](50) NULL,
	[Cihaz_adet] [int] NOT NULL,
 CONSTRAINT [PK_YICihaz] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YIUrunler]    Script Date: 2.10.2026 18:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YIUrunler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Yapilan_is_id] [int] NOT NULL,
	[Urun_ismi] [nvarchar](100) NOT NULL,
	[Model_numarasi] [nvarchar](50) NULL,
	[Seri_no] [nvarchar](50) NULL,
	[Miktar] [int] NOT NULL,
	[kaynak] [bit] NULL,
 CONSTRAINT [PK_YIUrunler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [Olusturulma_tarihi]
GO
ALTER TABLE [dbo].[KullaniciLog] ADD  CONSTRAINT [DF__Kullanici__Islem__1BC821DD]  DEFAULT (getdate()) FOR [IslemTarihi]
GO
ALTER TABLE [dbo].[Cihaz_Tamir]  WITH CHECK ADD  CONSTRAINT [FK_Cihaz_Tamir_Servis_Firma] FOREIGN KEY([Servis_firma_id])
REFERENCES [dbo].[Servis_Firma] ([id])
GO
ALTER TABLE [dbo].[Cihaz_Tamir] CHECK CONSTRAINT [FK_Cihaz_Tamir_Servis_Firma]
GO
ALTER TABLE [dbo].[Cihaz_Tamir]  WITH CHECK ADD  CONSTRAINT [FK_Cihaz_Tamir_Yapilan_Isler] FOREIGN KEY([Yapilan_is_id])
REFERENCES [dbo].[Yapilan_Isler] ([id])
GO
ALTER TABLE [dbo].[Cihaz_Tamir] CHECK CONSTRAINT [FK_Cihaz_Tamir_Yapilan_Isler]
GO
ALTER TABLE [dbo].[Cihaz_Tamir]  WITH CHECK ADD  CONSTRAINT [FK_Cihaz_Tamir_YICihaz] FOREIGN KEY([Cihaz_id])
REFERENCES [dbo].[YICihaz] ([id])
GO
ALTER TABLE [dbo].[Cihaz_Tamir] CHECK CONSTRAINT [FK_Cihaz_Tamir_YICihaz]
GO
ALTER TABLE [dbo].[YIUrunler]  WITH CHECK ADD  CONSTRAINT [FK_YIUrunler_Yapilan_Isler] FOREIGN KEY([Yapilan_is_id])
REFERENCES [dbo].[Yapilan_Isler] ([id])
GO
ALTER TABLE [dbo].[YIUrunler] CHECK CONSTRAINT [FK_YIUrunler_Yapilan_Isler]
GO
USE [master]
GO
